/* Foundation ----- */

html {
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	font: 13px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}


/* Page Header ----- */

#page-header {
	border-bottom: 3px solid #ddd;
	margin: 0 auto;
	position: relative;
	width: 940px;
}
#nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0.5em;
}
#nav li {
	float: left;
	margin-left: 2em;
}


/* Page Body ----- */

#content {
	margin: 2em auto;
	width: 940px;
}


/* Page Footer ----- */

#page-footer {
	border-top: 3px solid #ddd;
	margin: 0 auto;
	padding: 1em 0 2em;
	width: 940px;
}


/* Forms ----- */

div.fields {
	margin: 0.5em 0;
}
div.fields > label {
	display: inline-block;;
	font-weight: bold;
	width: 120px;
}
div.fields label.checkbox {
	display: inline;
	font-weight: normal;
	width: auto;
}
div.fields input[type=text],
div.fields input[type=password] {
	width: 250px;
}
ul.errors {
	color: #c00;
}